version: "3.7"

services:
  quantlib:
    build:
      context: .
      dockerfile: Dockerfile
    image: ql
    container_name: ql
    environment:
      TZ: "America/Chicago"
    ports:
      - "9999:9999"
    volumes:
      - ./notebook:/home/jupyter/notebook
      - /etc/localtime:/etc/localtime:ro
